.Aligner {
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-box {
    width: 500px;
    height: 500px;
}

img {
    min-width: 100%;
    max-width: 100%;
}

body {
    background-color: #222;
}
