.Aligner {
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-box {
    width: 500px;
    height: 500px;
}

img {
    object-fit: contain;
    min-width: 50%;
    min-height: 50%;
    max-width: 100%;
    max-height: 100%;
    align-content: center;
    margin: auto;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    position: absolute;
}

body {
    background-color: #222;
}
